<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Banking Application Test Automation Test Suite">

	<listeners>
		<listener 
			class-name="ExtentReportListener.ExtentReportNG" />
	</listeners>


	<test name="Banking App Test Cases">
		<classes>
			<class name="bankingTest.BankingTestCases"></class>

		</classes>
	</test>
</suite>